.App {
    text-align: center;
    color: #232f3e;
    background-color: white;
    
}

.App-logo {
    height: 10vmin;
    pointer-events: none;
}

.App-header {
    background-color: #232f3e;
    min-height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: calc(10px + 2vmin);
    color: orange;
}

.App-link {
    color: #232f3e;
}

button.buttonStyle {
  background-color: orange;
  border: none;
  color: #232f3e;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.2s;
  border-radius: 6px;
  border: 2px solid orange;
}

button.buttonStyle:hover {
  background-color: white;
  color: #232f3e;
  cursor:pointer;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.todoList {
    display: flex;
    flex-direction: column;
}

.tab-list {  
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  background-color: orange;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
}

.tab-list-active {
  background-color: white;
  color: #232f3e;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

.amplify-s3-image {
  --height: 200px;
  --width: 400px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
